{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/list.css') }}">
{% endblock %}

{% block title %}
    Ask Mate - Where people find answers for all their questions
{% endblock %}

{% block content %}
    <main>
        {% if session["username"] %}
            <div class="button" id="add-question-page">
                <a href="{{ url_for("add_question_form") }}">
                    <button class="question-action">Ask question</button>
                </a>
            </div>
        {% endif %}
        <div class="question-container">
            <div class="question-details">
                <div class="question-options">
                    <h2>{{ question.title }}</h2>
                    {% if session["username"] == question["username"] %}
                        <div class="button">
                            <a href="{{ url_for('edit_question_form', question_id = question.id) }}">
                                <img class="edit-question"
                                     src="{{ url_for('static', filename='images/edit_post.png') }}"
                                     alt="Edit question"></a>
                            </a>
                        </div>
                        <div class="button">
                            <a href="{{ url_for('delete_question_confirmation', question_id = question.id) }}">
                                <img class="delete-question"
                                     src="{{ url_for('static', filename='images/delete_post.png') }}"
                                     alt="Delete question"></a>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <p>{{ question.message }}</p>
                {% if question.image != None %}
                    <img class="question-image" src="{{ url_for('static', filename=question.image) }}">
                {% endif %}
                <div class="question-info">
                    <p>Votes: {{ question.vote_number }} | Views: {{ question.view_number }}</p>
                    <p>Question asked: {{ question.submission_time }} by {{ question.username }}</p>
                </div>
                {% if session["username"] == question["username"] %}
                    <div class="tags-container">
                        <div class="button">
                            <a href="{{ url_for('add_new_tag', question_id = question.id) }}">
                                <button class="question-action">Add tag</button>
                            </a>
                        </div>
                        <div class="tags">
                            {% for tag in tags %}
                                <p>{{ tag.name }} |</p>
                                <a href="{{ url_for("delete_tag", question_id = question.id, tag_id = tag.id) }}"><img
                                        src="{{ url_for('static', filename='images/delete_tag.png') }}" alt="X"></a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="button add-comment">
            <a href="{{ url_for("add_comment_to_question_form", question_id=question["id"]) }}">
                <button class="question-action">Add a comment</button>
            </a>
        </div>
        <div class="comments">
            {% if not question_comments %}
                <h4>No comments yet!</h4>
            {% elif question_comments %}
                <h4>Comments</h4>
                {% for comment in question_comments %}
                    <div class="comment">
                        <div class="comment-options">
                            <p>{{ comment.message }}</p>
                            {% if session["username"] == comment["username"] %}
                                <a href="{{ url_for('edit_comment_form', comment_id = comment.id) }}">
                                    <img class="edit-question"
                                         src="{{ url_for('static', filename='images/edit_post.png') }}"
                                         alt="Edit comment"></a></a>
                                <a href="{{ url_for("delete_comment_form", comment_id = comment.id) }}">
                                    <img class="delete-question"
                                         src="{{ url_for('static', filename='images/delete_post.png') }}"
                                         alt="Delete question"></a>
                            {% endif %}
                        </div>
                        <div class="comment-info">
                            {% if comment.edited_count %}
                                <p>Edited: {{ comment.edited_count }} times</p>
                            {% else %}
                                <p>Edited: 0 times</p>
                            {% endif %}
                            <p>Added: {{ comment.submission_time }} by {{ comment["username"] }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="button add-answer">
            <a href="{{ url_for("add_new_answer_form", question_id=question["id"]) }}">
                <button class="question-action">Add a new answer</button>
            </a>
        </div>
        <div class="answers">
            {% if not answers %}
                <h1 id="no-answers">No answers yet!</h1>
            {% elif answers %}
                {% for answer in answers %}
                    <div class="answer">
                        <div class="answer-options">
                            <p>{{ answer["message"] }}</p>
                            {% if session["username"] == answer["username"] %}
                                <a href="{{ url_for("edit_answer_form", answer_id=answer.id) }}">
                                    <img class="edit-question"
                                         src="{{ url_for('static', filename='images/edit_post.png') }}"
                                         alt="Edit answer"></a>
                                <a href="{{ url_for('delete_answer_form', answer_id=answer.id) }}">
                                    <img class="delete-question"
                                         src="{{ url_for('static', filename='images/delete_post.png') }}"
                                         alt="Delete answer"></a>
                                </a>
                            {% endif %}
                        </div>
                        <p><a href="{{ url_for("vote_up", answer_id=answer["id"]) }}">+</a></p>
                        <p>Votes: {{ answer["vote_number"] }}</p>
                        <p><a href="{{ url_for("vote_down", answer_id=answer["id"]) }}">-</a></p>
                        <p>Added: {{ answer["submission_time"] }} by {{ answer["username"] }}</p>
                    </div>
                    <div class="answer-add-comment">
                        <a href="{{ url_for("add_comment_to_answer_form", answer_id=answer.id) }}">
                            <button class="question-action">Comment this answer</button>
                        </a>
                    </div>
                    <div class="answer-comments">
                        {% for answer_comment in answer_comments %}
                            {% if answer_comment.answer_id == answer.id %}
                                <div class="comment">
                                    <div class="comment-options">
                                        <p>{{ answer_comment.message }}</p>
                                        {% if session["username"] == answer_comment["username"] %}
                                            <a href="{{ url_for('edit_comment_form', comment_id = answer_comment.id) }}">
                                                <img class="edit-question"
                                                     src="{{ url_for('static', filename='images/edit_post.png') }}"
                                                     alt="Edit comment">
                                            </a>
                                            <a href="{{ url_for('delete_comment_form', comment_id = answer_comment.id) }}">
                                                <img class="delete-question"
                                                     src="{{ url_for('static', filename='images/delete_post.png') }}"
                                                     alt="Delete comment"></a>
                                        {% endif %}
                                    </div>
                                    <div class="comment-info">
                                        {% if answer_comment.edited_count %}
                                            <p>Edited: {{ answer_comment.edited_count }} times</p>
                                        {% else %}
                                            <p> Edited: 0 times</p>
                                        {% endif %}
                                        <p>Added: {{ answer_comment.submission_time }}
                                            by {{ answer_comment["username"] }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock %}